<nav class=" flex justify-between items-center sticky top-0 p-6 z-50"
style="
background: linear-gradient(
  to right,
  #ee7724,
  #d8363a,
  #dd3675,
  #b44593
);
"
>
<span class="font-bold text-white">Pokemon, gotta catch 'em all</span>
<ng-container *ngIf="trainer!== undefined" >
    <ul class="flex">
        <li class="px-5 text-white"><a routerLink="/trainer">Trainer</a></li>
        <li class="px-5 text-white"><a routerLink="/pokeman-catalogue">Catalogue</a></li>
    </ul>
</ng-container>
</nav>